body {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Estilizar el apartado del autor y las vistas */
/* #resultado .result-item {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
} */

.imagen-container {
    max-width: 100%; /* Hacer que las imágenes sean responsive */
    margin-bottom: 20px; /* Espacio entre las imágenes */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se desborde */
    display: flex; /* Usar flexbox para centrar la imagen */
    justify-content: center; /* Centrar la imagen horizontalmente */
}

.imagen-container img {
    max-width: 100%; /* Hacer que la imagen ocupe el 100% del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
}

.AutorVista {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #333; /* Color de texto oscuro */
}
